dfactory-databricks/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "dfactory-databricks"
		},
		"DatabricksDfactoryLink_accessToken": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'accessToken' de 'DatabricksDfactoryLink'"
		},
		"DatabricksDfactoryLink_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0113-172018-mhiwlehr"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/datalake-ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IngestaoCamadaBronze",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/elisangelarozana2@outlook.com/pipeline-databricks-azure/Notebooks/InboundToBronze"
						},
						"linkedServiceName": {
							"referenceName": "DatabricksDfactoryLink",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "IngestaoCamadaSilver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "IngestaoCamadaBronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/elisangelarozana2@outlook.com/pipeline-databricks-azure/Notebooks/BronzeToSilver"
						},
						"linkedServiceName": {
							"referenceName": "DatabricksDfactoryLink",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DatabricksDfactoryLink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatabricksDfactoryLink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4049781743237096.16.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('DatabricksDfactoryLink_accessToken')]"
					},
					"existingClusterId": "[parameters('DatabricksDfactoryLink_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "datalake-ingestion",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2024-01-14T13:55:00",
						"timeZone": "E. South America Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/datalake-ingestion')]"
			]
		}
	]
}